<h1>Description#new</h1>


<h1>Add A comment</h1>
<%= form_for [@topic, @description] do |f| %>
  <%= f.label :title %>
  <%= f.text_area :title, required: true %>
  <br />
  <%= f.label :body %>
  <%= f.text_field :body %>
  <br />
  <%= f.submit %>
<% end %>